<section class="container-fluid p-2 p-md-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <form>
        <ac-card>
          <div slot="header">
            <h1 class="p-0 m-0">Signin</h1>
          </div>
          <div slot="content">
            <ac-input name="username" label="User" #usernameInput required></ac-input>
            <ac-input name="password" label="Password" type="password" #passwordInput required></ac-input>
          </div>
          <div slot="actions" class="justify-content-end">
            <ac-button (click)="navigateToSignup()" class="mr-1" theme="primary" fill="clear">
              <i slot="icon-start" class="fa fa-user-plus"></i>
              Create your Account
            </ac-button>
            <ac-button type="submit" theme="primary">
              <i slot="icon-start" class="fa fa-sign-in"></i>
              Signin
            </ac-button>
          </div>
        </ac-card>
      </form>
    </div>
  </div>
</section>
