<section class="container-fluid p-2 p-md-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="d-flex justify-content-between align-content-center mb-2">
        <h1 class="p-0 m-0">All Dragons</h1>
        <ac-button [routerLink]="['new']" theme="primary">
          <i class="fa fa-plus" slot="icon-start"></i>
          Create dragon
        </ac-button>
      </div>
      <a
        *ngFor="let dragon of dragonList"
        class="d-flex justify-content-between mb-1"
      >
        <ac-avatar
          image="https://static.thenounproject.com/png/1387590-200.png"
          [title]="dragon.name"
          [subtitle]="dragon.type"
        >
        </ac-avatar>
        <div>
          <ac-button [routerLink]="[dragon.id]" theme="primary" fill="clear" shape="round" tooltip-bottom="Edit" icon-only>
            <i class="fa fa-edit"></i>
          </ac-button>
          <ac-button (click)="delete(dragon)" theme="alert" fill="clear" shape="round" tooltip-bottom="Delete" icon-only>
            <i class="fa fa-trash"></i>
          </ac-button>
        </div>
      </a>

      <div *ngIf="!dragonList" class="d-flex justify-content-center">
        <i class="fa fa-2x fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>
</section>
